.list-container {
    /* background-image: url("../../assets/abstract-pastel-holographic-textured-background.jpg");
    background-repeat: repeat; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }